{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/components/menu.css') }}">
{% endblock %}
{% block body %}
    <nav id="menu" class="menu">
        <div id="menuButton" class="">
            <i id="menuIcon" class="fas fa-landmark fa-3x"></i>
        </div>
        <div id="menuObject" class="menuObject hidden">
            <ul class="menuObject__list">
                <i id="menuClose" class="far fa-times-circle"></i>
                {% for i in range(1, 10)  %}
                <li class="menuObject__list__item">
                    <a class="menuObject__list__item--link" href="">link {{ i }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/index.js') }}"></script>
    <script src="{{ asset('js/components/menu.js') }}"></script>
{% endblock %}
