{% extends 'shop.html.twig' %}

{% block title %}Shop Index{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/index/style1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/shop/components/component1.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <nav id="nav" class="nav">
        <div>
            <i id="mainMenuButton" class="fas fa-bars"></i>
        </div>
        <div id="menu" class="menu">
            <ul class="menu__list">
                <li class="menu__list__item">
                    <a class="menu__list__item__link primary">HOME</a>
                </li>
            </ul>
            <span class="primary">
                <i id="caret1" class="far fa-caret-square-down"></i>
            </span>
            <div class="menu__exitButton">
                <i id="exitMenuButton" class="fas fa-times"></i>
            </div>
        </div>

    </nav>

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/components/component1.js') }}"></script>
    <script src="{{ asset('js/shop/index/javascript1.js') }}"></script>
{% endblock %}
