{% extends 'shop.html.twig' %}

{% block title %}Shop Index{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/index/about_us.css') }}">
    <link rel="stylesheet" href="{{ asset('css/shop/index/explore_offer1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/shop/components/component1.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <nav id="nav" class="nav">
        <div>
            <i id="mainMenuButton" class="fas fa-bars"></i>
        </div>
        <div id="menu" class="menu">
            <div class="menu__list">
                <div class="menu__list__item">
                    <a class="menu__list__item__link primary">HOME</a>
                </div>
            </div>

            <span class="primary">
                <i id="caret1" class="far fa-caret-square-down"></i>
            </span>
            <div class="menu__exitButton">
                <i id="exitMenuButton" class="fas fa-times"></i>
            </div>
        </div>
        <div id="submenu1" class="menu__list hidden">
            <div class="menu__list__item submenu">
                <a id="link1_1" class="menu__list__item__link secondary">
                    About Us
                </a>
            </div>
        </div>
        <div id="submenu2" class="menu__list hidden">
            <div class="menu__list__item submenu">
                <a id="link1_2" class="menu__list__item__link secondary">
                    Explore Our offer
                </a>
            </div>
        </div>
    </nav>
    <div id="content" class="content hidden">

        <div id="contentImage" class="content__img">
        <div id="contentText" class="text"></div>
           <p class="text__title">Why we are here ?</p>
            <p class="text__content">
                Nullam vestibulum consectetur felis non molestie. Ut id nisl varius, semper lectus a, dapibus nibh. Aliquam sed ultricies est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper ante a aliquam convallis. Phasellus ornare ut dolor ac ultricies. Nulla varius arcu ac quam pretium, vitae blandit sem consectetur. Mauris consequat rutrum lacus sed blandit. Sed porta accumsan nisl sit amet dignissim. Aliquam cursus eu risus et congue. Sed ac lacus orci. Aenean volutpat faucibus hendrerit. Nulla a imperdiet purus.
            </p>
            <p class="text__line"></p>
            <p class="text__sign">Pompius Iglecias A.D. 1501</p>

        </div>
    </div>
    <section id="section1" class="hidden">
        <div class="card">
            <div class="card__box">
                <img class="card__box__img" src="{{ asset('img/svg/shop/lockedbook.svg') }}" alt="image of the book">
                <div class="card__box__body">
                    <p class="productText__title">Name of the product</p>
                    <p class="productText__content">Praesent quis iaculis nunc. Aliquam erat volutpat. In facilisis dignissim massa. Vestibulum et arcu orci. Praesent a nulla dignissim enim blandit accumsan. Ut imperdiet imperdiet est, non tempus libero aliquam vel. Sed purus tellus, feugiat.</p>
                </div>
            </div>
            <div class="card__box">
                <img class="card__box__img" src="{{ asset('img/svg/shop/manbookframe.svg') }}" alt="image of the book">
                <div class="card__box__body">
                    <p class="productText__title">One of Us</p>
                    <p class="productText__content">Praesent quis iaculis nunc. Aliquam erat volutpat. In facilisis dignissim massa. Vestibulum et arcu orci. Praesent a nulla dignissim enim blandit accumsan. Ut imperdiet imperdiet est, non tempus libero aliquam vel. Sed purus tellus, feugiat.</p>
                </div>
            </div>
            <div class="card__box">
                <img class="card__box__img" src="{{ asset('img/svg/shop/openbook.svg') }}" alt="image of the book">
                <div class="card__box__body">
                    <p class="productText__title">Bozia is Here</p>
                    <p class="productText__content">Praesent quis iaculis nunc. Aliquam erat volutpat. In facilisis dignissim massa. Vestibulum et arcu orci. Praesent a nulla dignissim enim blandit accumsan. Ut imperdiet imperdiet est, non tempus libero aliquam vel. Sed purus tellus, feugiat.</p>
                </div>
            </div>
            <div class="card__box">
                <img class="card__box__img" src="{{ asset('img/svg/shop/ecibook.svg') }}" alt="image of the book">
                <div class="card__box__body">
                    <p class="productText__title">Test of the Day</p>
                    <p class="productText__content">Praesent quis iaculis nunc. Aliquam erat volutpat. In facilisis dignissim massa. Vestibulum et arcu orci. Praesent a nulla dignissim enim blandit accumsan. Ut imperdiet imperdiet est, non tempus libero aliquam vel. Sed purus tellus, feugiat.</p>
                </div>
            </div>
            <div class="card__box">
                <img class="card__box__img" src="{{ asset('img/svg/shop/BookWithBookmarks.svg') }}" alt="image of the book">
                <div class="card__box__body">
                    <p class="productText__title">Pompius Ignacius said</p>
                    <p class="productText__content">Praesent quis iaculis nunc. Aliquam erat volutpat. In facilisis dignissim massa. Vestibulum et arcu orci. Praesent a nulla dignissim enim blandit accumsan. Ut imperdiet imperdiet est, non tempus libero aliquam vel. Sed purus tellus, feugiat.</p>
                </div>
            </div>

        </div>

    </section>

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/components/component2.js') }}"></script>
    <script src="{{ asset('js/shop/index/explore_offer1.js') }}"></script>
{% endblock %}
